/* -------------- CSS --------------- */
#lang-switch img {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: all .5s;
    margin: auto 3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #lang-switch img:hover {
    cursor: pointer;
    opacity: 1;
  }
  
  .fr_lang,
  .en_lang {
    display: none;
    transition: display .5s;
  }
  
  /* Language */
  .active-lang {
    display:inline-block !important;
    transition: display .5s;
  }

  
  .active-flag {
    transition: all .5s;
    opacity: 1 !important;
  }
